Scrapy==2.6.1
Twisted==13.2.0
astroid==1.1.1
cffi==0.8.2
cryptography==0.4
cssselect==0.9.1
logilab-common==0.61.0
lxml==3.3.5
pyOpenSSL==0.14
pycparser==2.10
pylint==1.2.1
queuelib==1.1.1
six==1.6.1
w3lib==1.5
zope.interface==4.1.1
