{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block bootstrap %}
  <link href="{{ BASE_DIR }}/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
<h1>{% trans "Password reset" %}</h1>
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

{% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
{% endif %}

<form class="form-register" role="form" method="post" action="" class="wide">{% csrf_token %}
  <dl>
    <dt>  
      <label class="form-register-heading" for="id_old_password">{% trans 'E-mail address:' %}</label>
      {% if form.email.errors %}
        <span class="errors">{{ form.email.errors.as_text }}</span>
      {% endif %}
    </dt>
    <dd>{{ form.email }}</dd>
        <dt>
      <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
    </dt>
  </dl>
</form>

{% block content-related %}

</div>
{% endblock %}
{% endblock %}
