{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block bootstrap %}
  <link href="{{ BASE_DIR }}/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
<h1>{% trans 'Password change' %}</h1>

{% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
{% endif %}

<form class="form-register" role="form" method="post" action="" class="wide">{% csrf_token %}
  <dl>
    <dt>  
      <label class="form-register-heading" for="id_old_password">{% trans 'Old password:' %}</label>
      {% if form.old_password.errors %}
        <span class="errors">{{ form.old_password.errors.as_text }}</span>
      {% endif %}
    </dt>
    <dd>{{ form.old_password }}</dd>
    <dt>
      <label class="form-register-heading" for="id_new_password1">{% trans 'New password:' %}</label>
      {% if form.new_password1.errors %}
        <span class="errors">{{ form.new_password1.errors.as_text }}</span>
      {% endif %}
    </dt>
    <dd>{{ form.new_password1 }}</dd>
    <dt>
      <label class="form-register-heading" for="id_new_password2">{% trans 'Confirm password:' %}</label>
      {% if form.new_password2.errors %}
        <spam class="errors">{{ form.new_password2.errors.as_text }}</spam>
      {% endif %}
    </dt>
    <dd>{{ form.new_password2 }}</dd>
    <dt>
      <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" />
    </dt>
  </dl>
</form>

{% block content-related %}

</div>
{% endblock %}
{% endblock %}
