{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block bootstrap %}
  <link href="{{ BASE_DIR }}/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

{% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
{% endif %}

<form class="form-register" role="form" method="post" action="" class="wide">{% csrf_token %}
  <dl>
    <dt>
      <label class="form-register-heading" for="id_new_password1">{% trans 'New password:' %}</label>
      {% if form.new_password1.errors %}
        <span class="errors">{{ form.new_password1.errors.as_text }}</span>
      {% endif %}
    </dt>
    <dd>{{ form.new_password1 }}</dd>
    <dt>
      <label class="form-register-heading" for="id_new_password2">{% trans 'Confirm password:' %}</label>
      {% if form.new_password2.errors %}
        <spam class="errors">{{ form.new_password2.errors.as_text }}</spam>
      {% endif %}
    </dt>
    <dd>{{ form.new_password2 }}</dd>
    <dt>
      <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" />
    </dt>
  </dl>
</form>

{% else %}
<h1>{% trans 'Password reset unsuccessful' %}</h1>
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% block content-related %}
</div>
{% endblock %}
{% endblock %}
