{% extends "base.html" %}

{% block title %}Weekly Circular - About{% endblock %}
{% block bootstrap %}
  <link href="{{ BASE_DIR }}/static/css/about.css" rel="stylesheet">
{% endblock %}
{% block content %}	
<div class="container">
  <div class="transbox">          
    <h3> <em>Ahoy!</em> </h3>
    <br>
      <br>
        <p>Weekly-Circular application helps the users to find food and groceries stores
        near them and display food products on discount.</p>
        <p>Based on the discounted products, we also suggest nutritious and scrumptious recipes.</p>
        <p>All of the site's resources are available to anyone, completely free of charge.</p>
      <br>
    <br>
  </div>
</div>
{% endblock %}



